{% load static %}
{% if user.is_authenticated %}
<html><head><meta charset="utf-8">
<link href={% static "vendor/bootstrap/css/bootstrap.min.css"%} rel="stylesheet" id="bootstrap-css">
<link href={% static "vendor/bootstrap/js/bootstrap.min.js"%}>
<link href={% static "vendor/jquery/jquery-1.11.1.min.js"%}>
<link href={% static "css/timeline.css"%} rel="stylesheet" media="all">
</head>
<body style="    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Ktü Mezun Takip Sistemi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'add-advert' %}">İş İlanı Ver <span class="sr-only">(current)</span></a>
        </li>        
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Tüm İlanlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
        </li>
      </ul>
    </div>
  </nav>
        <div class="container">
          <div class="page-header">
              <h1 id="timeline">İş İlanı</h1>
          </div>
          <ul class="timeline">
                  <li class="">
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">{{ object.title }}</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ object.employer }}</small>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i>26/12/2019</small></p>
                      </div>
                      <div class="timeline-body">
                        <p>{{ object.description}}</p>
                      </div>
                      <hr>
                    </div>
                  </li>
          </ul>
      </div>



</body></html>
{% endif %}
