{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {{ user.username }}!
  {{user.tc_no}}
  {% if user.image %}
    <img src = "{{user.image.url}}" height=100  width=100/>
  {% endif%}
  <h1>Advertisements</h1>
    <ul>
    {% for advert in object_list %}
        <li>title:{{ advert.title }} 
        </br> description:{{ advert.description |truncatechars:100}}
        </br><a href="{{ advert.get_absolute_url }}">go to see all</a>
        </li>
    {% empty %}
        <li>No advertisements yet.</li>
    {% endfor %}
    </ul>
  <p><a href="{% url 'add-advert' %}">ADD ADVERT</a></p>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}